@charset "UTF-8";
/* CSS Document */
body {
	background-color:#FFFFFF;
	padding:0;
	margin:0;
	font-family:Helvetica, Geneva, Arial, sans-serif;
	font-size:14px;
	color:#666666;
	}
div {
	padding:0;
	margin:0;
	border:none;
	}
h1 {
	color:#71BCE2;
	font-size:30px;
	text-align:right;
	padding:0;
	letter-spacing:.05em;
	margin:10px 0 0 0;
	}
h2 {
	color:#7DA33E;
	font-size:20px;
	letter-spacing:1px;
	text-align:left;
	margin:20px 0 5px 0;
	padding:0;
	}
.header_main {
	background:url(../images/page/IEWL_head_stretcher.jpg) repeat-x #71BCE2;
	width:100%;
	height:275px;
	min-width:1000px;
	float:left;
}
.header_left {
	background:url(../images/page/IEWL_header_left.jpg) no-repeat #FFFFFF;
	float:left;
	width:275px;
	height:275px;
	}
.header_left h1 {
	text-indent:-1000;
	display:none;
	}
.slideshow {
	background:url(../images/page/IEWL_slideshow_bg.jpg) no-repeat #FFFFFF;
	float:right;
	width:405px;
	height:275px;
	}
.slideshow img {
	position:absolute;
	top:38px;
	right:0px;
	}
.cmwl {
	position:absolute;
	top:250px;
	left:10px;
	}
.cmwl h2 {
	font-size:12px;
	font-weight:normal;
	letter-spacing:normal;
	padding:0;
	margin:0;
	}
.navigation {
	position:absolute;
	min-width:650px;
	top:219px;
	left:230px;
}
.navigation ul {
	display:block;
	padding:0;
	margin:0;
	}
.navigation ul li {
	font-family:Helvetica, Geneva, Arial, sans-serif;
	color:#7DA33E;
	font-size:14px;
	padding:0;
	margin: 0;
	display: block;
	float: left;
	}
.navigation ul li a {
	font-family:Helvetica, Geneva, Arial, sans-serif;
	color:#7DA33E;
	text-decoration: none;
	text-indent: 0px;
	font-weight: normal;
	margin: 0;
	padding: 0 15px 0 10px;
	border:none;
	}
.navigation ul li a:hover, .navigation ul li a.active {
	color:#71BCE2;
	}
.content_wrapper {
/*	background:url(../images/page/IEWL_content_wrapper_bg.gif) repeat-x #FFFFFF;*/

	background:url(../images/page/IEWL_gutter_left_bg.gif) repeat-y #FFFFFF;
	width:100%;
	min-width:1000px;
	float:left;
	clear:left;
	}
.gutter_left {
/*	background:url(../images/page/IEWL_gutter_left_bg.gif) repeat-y #FFFFFF;*/
	float:left;
	width:170px;
	height:auto;
	min-height:340px;
	}
.gutter_left_top {
	background:url(../images/page/IEWL_gutter_left_top.gif) no-repeat #FFFFFF;
	float:left;
	width:170px;
	height:128px;
	}
.content {
/*	margin:0 auto;	*/
	float:left;
	width:700px;
	}
.gutter_right {
	background:url(../images/page/IEWL_gutter_right_bg.gif) no-repeat #FFFFFF;
	width:125px;
	height:340px;
	float:right;
	clear:none;
	}
.footer_holder {
	background:url(../images/page/IEWL_foot_stretcher2.gif) repeat-x #FFFFFF;
	font-family:Helvetica, Geneva, Arial, sans-serif;
	color:#7DA33E;
	font-size:12px;
	width:100%;
	height:75px;
	min-width:800px;
	float:left;
	clear:left;
	}
.footer_holder p {
	float:right;
	margin:30px 10px 0 0;
	}
.footer_left {
	background:url(../images/page/IEWL_footer_left2.gif) no-repeat #FFFFFF;
	width:225px;
	height:75px;
	float:left;
	}
.footer {
	/*background:url(../images/page/IEWL_foot_stretcher.gif) repeat-x;*/
	background:none;
	font-size:12px;
	width:auto;
	float:left;
	/*margin:0 auto;*/
	/*float:right;*/
	}
.footer_left p {
	/*color:#D5E8F2;*/
	color:#FFFFFF;
	font-size:10px;
	padding:0;
	margin:55px 0 0 5px;
	}
.footer ul {
	display:block;
	padding:25px 0 0 0;
	margin:0;
	}
.footer ul li {
	font-family:Helvetica, Geneva, Arial, sans-serif;
	color:#7DA33E;
	font-size:14px;
	padding:0;
	margin: 0;
	display: block;
	float: left;
	}
.footer ul li a {
	font-family:Helvetica, Geneva, Arial, sans-serif;
	color:#7DA33E;
	text-decoration: none;
	text-indent: 0px;
	font-weight: normal;
	margin: 0;
	padding: 0 15px 0 10px;
	border:none;
	}
.footer ul li a:hover {
	color:#71BCE2;
	}
.footer p {
	clear:left;
	padding:0;
	margin:0;
}